<template>
  <div>
    <transition name="modal-fade">
      <div
        v-if="globalMessage.active"
        class="modal-backdrop"
        @click="closeMessageModal"
      ></div>
    </transition>
    <transition name="modal-slide">
      <div class="modal" v-if="globalMessage.active">
        <div class="container">
          <div class="animation" v-show="globalMessage.type == 'success'">
            <img src="@/assets/main/success.gif" />
          </div>
          <div class="animation-and-text-container">
            <div class="animation" v-show="globalMessage.type != 'success'">
              <img src="@/assets/main/error.gif" />
            </div>
            <p class="text">{{ globalMessage.text }}</p>
          </div>

          <base-button class="next-button" @click="closeMessageModal"
            >OK
          </base-button>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "MessageModal",
  data() {
    return {};
  },
  methods: {
    ...mapActions(["updateGlobalMessage"]),

    closeMessageModal() {
      this.updateGlobalMessage({ text: "", active: false });
    },
  },
  computed: {
    ...mapState(["globalMessage"]),
  },
};
</script>


<style lang="scss" scoped>
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  cursor: pointer;
}

.modal {
  max-height: 350px;
  overflow: scroll;
  position: fixed;
  background: #ffffff;
  border-radius: 30px 30px 0px 0px;
  width: 100vw;
  z-index: 200000;
  left: 0;
  bottom: 0;
  padding: 10px 40px 40px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;

    .animation-and-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .next-button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    background: #6f0bbb;
  }
}

.animation {
  width: 80px;
  height: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #232323;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s ease;
}

.modal-slide-enter,
.modal-slide-leave-to {
  bottom: -100%;
}

.modal-slide-enter-active,
.modal-slide-leave-active {
  transition: 0.2s ease-in-out;
}

@media (min-width: 961px) {
  .modal {
    padding: 5px;

    .container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: var(--middle-container-width);

      .animation-and-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .animation {
          margin-right: 20px;
          width: 110px;
          height: 110px;
        }

        .text {
          margin: 0;
          font-size: 18px;
          margin-right: 120px;
        }
      }
    }
  }
}
</style>