<template>
  <button
    v-bind="$attrs"
    v-on="$listeners"
    :class="buttonStyle"
    :style="{ color: color, width: width, height: height }"
  >
    <slot v-if="!loading"></slot>
    <spinner-circle class="loading-spinner-small" v-if="loading" />
  </button>
</template>

<script>
export default {
  name: "TheBaseButton",
  props: {
    buttonStyle: {
      type: String,
      default: "",
    },
    color: {
      type: String,
    },
    width: {
      type: String,
    },
    height: {
      type: String,
    },
    loading: {
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 112, 50, 0.95);
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  height: 40px;

  cursor: pointer;

  .loading-spinner-small {
    width: 18px;
    height: 18px;
  }
  &.outline {
    background: #ffffff;
    border: 1px solid #1ec8e4;
    box-sizing: border-box;
    border-radius: 20px;
    color: #1ec8e4;
  }
  &.text {
    border: none;
    background: transparent;
  }

  &.deactive {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
}
</style>