<template>
  <div class="base-input-container" :style="{ width: width, height: height }">
    {{ label }}
    <form autocomplete="off" @submit.prevent="">
      <input
        :type="type"
        :value="value"
        v-bind="$attrs"
        class="base-input"
        :placeholder="placeholder"
        v-on:input="$emit('input', $event.target.value)"
        @focus="$emit('focus')"
        @blur="$emit('blur')"
        @keyup.enter="$emit('keyupEnter')"
      />
    </form>
    <div class="error-message" :class="{ active: errorMessage }">
      {{ errorMessage }}
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomInput",
  props: {
    label: {
      type: String,
    },
    type: {
      type: String,
      default: "text",
    },
    value: {
      type: String,
    },
    width: {
      type: String,
    },
    height: {
      type: String,
    },
    placeholder: {
      type: String,
    },
    errorMessage: {
      type: String,
    },
  },
  computed: {
    name() {
      return this.label || "";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/variables.scss";

.base-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;

  .base-input {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: rgba(56, 56, 56, 0.9);
    border: none;
    border-radius: 2px;
    min-height: 2.5rem;
    color: white;
    font-size: 1.2em;

    margin-bottom: 1.5rem;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .error-message {
    font-size: 12px;
    line-height: 14px;
    color: #d0021b;
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    left: 15px;

    &.active {
      visibility: visible;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d0d0d0;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d0d0d0;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d0d0d0;
  }
}
</style>