<template>
  <div class="CompanyForm">
    <CompanyMap
      :center="center"
      :key="render"
      @locationChanged="locationChanged"
    />
    <base-button
      style="margin: 0 auto 10px"
      :buttonStyle="!formIsValid ? 'deactive' : ''"
      @click="saveInterest"
      >Save</base-button
    >
    <base-card
      style="
        background-color: rgb(255 255 255 / 30%);
        padding: 20px;
        box-sizing: border-box;
        width: 100vw;
      "
      class="card"
    >
      <div>
        <base-input v-model="title" :placeholder="loca.title"></base-input>
        <base-input
          v-model="description"
          :placeholder="loca.description"
        ></base-input>
        <base-input
          v-model="discount"
          type="number"
          :placeholder="loca.discount"
        ></base-input>
      </div>
      <div class="category-and-interests">
        <div>
          <p
            v-for="category in categories"
            :key="category.id"
            @click="getInterests(category)"
            :class="{ active: selectedCategory.id == category.id }"
          >
            {{ category.description }}
          </p>
        </div>
        <div>
          <p
            v-for="interest in interests"
            :key="interest.id"
            @click="selectedInterest = interest"
            :class="{ active: selectedInterest.id == interest.id }"
          >
            {{ interest.description }}
          </p>
        </div>
      </div>
    </base-card>
  </div>
</template>

<script>
import apiService from "@/APIServices/APIService";
import CompanyMap from "@/components/CompanyMap";
import { mapActions, mapState } from "vuex";

export default {
  name: "CompanyForm",
  components: {
    CompanyMap,
  },
  data() {
    return {
      center: {
        lat: "",
        lng: "",
      },
      render: "",
      title: "",
      description: "",
      discount: "",
      categories: [],
      interests: [],
      selectedInterest: {},
      selectedCategory: {},
    };
  },
  mounted() {
    this.getLocation();
    this.getCategories();
  },
  methods: {
    ...mapActions(["updateGlobalMessage", "updateAuthed", "updateUserDetails"]),
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    },
    showPosition(position) {
      const newCenter = {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
      };
      this.center = newCenter;
      this.render = Math.random();
    },
    getCategories() {
      apiService
        .categories()
        .then((response) => {
          this.categories = response.data.payload;
        })
        .catch(() => {})
        .finally(() => {});
    },
    getInterests(category) {
      this.interests = [];
      this.selectedCategory = category;

      apiService
        .interests(category.id)
        .then((response) => {
          this.interests = response.data.payload;
        })
        .catch(() => {})
        .finally(() => {});
    },
    saveInterest() {
      const data = {
        longitude: this.center.lat,
        latitude: this.center.lng,
        title: this.title,
        description: this.description,
        discount: this.discount,
        interestId: this.selectedInterest.id,
      };
      apiService
        .saveInterest(data)
        .then((response) => {
          if (response.data.successful == true) {
            this.updateGlobalMessage({
              text: "Successfully added",
              active: true,
              type: "success",
            });
          }
        })
        .catch((error) => {
          this.updateGlobalMessage({
            text: error.response.data.error.message,
            active: true,
          });
        })
        .finally(() => {});
    },
    locationChanged(location) {
      this.center = location;
    },
  },
  computed: {
    ...mapState(["loca"]),
    formIsValid() {
      return (
        this.description && this.title && this.discount && this.selectedInterest
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  justify-content: space-between;

  > div {
    width: 50%;
  }

  .category-and-interests {
    display: flex;
    justify-content: space-between;

    > div {
      width: 50%;
      padding: 0 10px;
      box-sizing: border-box;
    }

    p {
      background: rgb(218, 218, 218);

      cursor: pointer;
      &:hover {
        background: rgb(138, 138, 138);
      }
      &.active {
        background: rgba(0, 112, 50, 0.95);
        color: white;
      }
    }
  }
}
</style>