<template>
  <div class="container">
    <base-card class="overlay">
      <div class="login">
        <div class="login-form">
          <input
            type="text"
            id="username"
            name="username"
            :placeholder="loca.userName"
            v-model="username"
          />

          <input
            type="password"
            id="password"
            name="password"
            :placeholder="loca.password"
            v-model="password"
          />

          <base-button
            @click="login"
            :loading="loading"
            :buttonStyle="!formIsValid ? 'deactive' : ''"
            >{{ loca.login }}</base-button
          >
        </div>

        <router-link to="/register">{{ loca.register }}</router-link>
      </div>
    </base-card>
  </div>
</template>

<script>
import apiService from "@/APIServices/APIService";
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      menuIsOpen: false,
      username: "",
      password: "",
      loading: false,
    };
  },
  methods: {
    ...mapActions(["updateGlobalMessage", "updateAuthed", "updateUserDetails"]),

    login() {
      const data = {
        username: this.username,
        password: this.password,
      };
      this.loading = true;
      apiService
        .login(data)
        .then((response) => {
          if (response.data.successful == true) {
            this.updateAuthed(true);
            localStorage.setItem("authed", true);
            localStorage.setItem("JWT", response.data.payload.token);
            if (response.data.payload.userType == "CLIENT") {
              this.$router.push("/");
            } else if (response.data.payload.userType == "BUSINESS") {
              this.$router.push("/company-form");
            }

            const userData = response.data.payload;
            localStorage.setItem("userDetails", JSON.stringify(userData));
            this.updateUserDetails(userData);
          }
        })
        .catch((error) => {
          this.updateGlobalMessage({
            text: error.response.data.error.message,
            active: true,
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  computed: {
    ...mapState(["loca"]),
    formIsValid() {
      return this.username && this.password;
    },
  },
};
</script>

<style lang="scss" scoped>
html {
  font-family: "Roboto", sans-serif;
}
body {
  background: url(https://images.unsplash.com/photo-1589405858862-2ac9cbb41321)
    no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  margin: 0 0;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
}

.overlay {
  width: 25rem;
}

.login {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2.8rem;
}
.login-form > label {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.login-form > input {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: rgba(56, 56, 56, 0.9);
  border: none;
  border-radius: 2px;
  min-height: 2.5rem;
  color: white;
  font-size: 1.2em;

  margin-bottom: 1.5rem;
}
.login-form > input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.login-form > input:focus {
  background-color: rgba(112, 112, 112, 0.9);
  outline: white;
}

.login-form > input:last-of-type {
  margin-bottom: 3rem;
}

a,
a:active,
a:visited {
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-size: 1.2rem;
}
</style>