<template>
  <div class="home">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/Header";
export default {
  name: "Home",
  components: {
    Header
  },
  data() {
    return {
      center: {
        lat: "",
        lng: "",
      },
      render: "",
    };
  },
  mounted() {
    this.getLocation();
  },
  methods: {
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    },
    showPosition(position) {
      this.center.lat = position.coords.latitude;
      this.center.lng = position.coords.longitude;
      this.render = Math.random();
    },
  },
};
</script>