<template>
  <div class="qr-code-container">
    <qr-code :size="225" :text="qrValue"></qr-code>
    <base-button class="print-btn" @click="print">print</base-button>
  </div>
</template>

<script>
import QrCode from "vue-qrcode-component";

export default {
  name: "app",
  components: {
    QrCode,
  },
  data() {
    return {
      qrValue: "",
    };
  },
  mounted() {
    let url_string = window.location.href;
    let url = new URL(url_string);
    this.qrValue = url.searchParams.get("qr-value");
  },
  methods: {
    print() {
      window.print();
    },
  },
};
</script>

<style lang="scss" scoped>
  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .print-btn {
      margin-top: 20px;
      font-size: 14px;
      padding: 10px 20px;
      width: 100%;
    }
  }
</style>