<template>
  <div class="container">
    <base-card class="overlay">
      <div class="login">
        <div class="login-form">
          <input
            type="text"
            id="fullName"
            name="fullName"
            :placeholder="loca.companyName"
            v-if="userType"
            v-model="fullName"
          />
          <input
            type="text"
            id="fullName"
            name="fullName"
            :placeholder="loca.fullName"
            v-model="fullName"
            v-else
          />

          <input
            type="text"
            id="userName"
            name="userName"
            :placeholder="loca.userName"
            v-model="username"
          />

          <input
            type="password"
            id="password"
            name="password"
            :placeholder="loca.password"
            v-model="password"
          />

          <div class="switch-button">
            <input
              class="switch-button-checkbox"
              type="checkbox"
              v-model="userType"
            />
            <label class="switch-button-label" for="">
              <span class="switch-button-label-span">{{ loca.user }}</span>
            </label>
          </div>

          <base-button
            class="button"
            @click="registration"
            :loading="loading"
            :buttonStyle="!formIsValid ? 'deactive' : ''"
          >
            {{ loca.register }}
          </base-button>
        </div>

        <router-link to="/login">{{ loca.login }}</router-link>
      </div>
    </base-card>
  </div>
</template>

<script>
import apiService from "@/APIServices/APIService";
import { mapActions, mapState } from "vuex";

export default {
  name: "app",
  data() {
    return {
      userType: false,
      username: "",
      fullName: "",
      password: "",
      loading: false,
    };
  },
  methods: {
    ...mapActions(["updateGlobalMessage", "updateAuthed", "updateUserDetails"]),

    registration() {
      const data = {
        name: this.fullName,
        username: this.username,
        password: this.password,
        type: this.userType ? "BUSINESS" : "CLIENT",
      };
      this.loading = true;
      apiService
        .registration(data)
        .then((response) => {
          if (response.data.successful == true) {
            this.updateAuthed(true);
            localStorage.setItem("authed", true);
            localStorage.setItem("JWT", response.data.payload.token);
            if (response.data.payload.userType == "CLIENT") {
              this.$router.push("/");
            } else if (response.data.payload.userType == "BUSINESS") {
              this.$router.push("/company-form");
            }

            const userData = response.data.payload;
            localStorage.setItem("userDetails", JSON.stringify(userData));
            this.updateUserDetails(userData);
          }
        })
        .catch((error) => {
          this.updateGlobalMessage({
            text: error.response.data.error.message,
            active: true,
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  computed: {
    ...mapState(["loca"]),
    formIsValid() {
      return this.username && this.password && this.fullName;
    },
  },
};
</script>

<style lang="scss" scoped>
html {
  font-family: "Roboto", sans-serif;
}
body {
  background: url(https://images.unsplash.com/photo-1589405858862-2ac9cbb41321)
    no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  margin: 0 0;
}

.overlay {
  width: 25rem;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
}

.login {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2.8rem;
}
.login-form > label {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.login-form > input {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: rgba(56, 56, 56, 0.9);
  border: none;
  border-radius: 2px;
  min-height: 2.5rem;
  color: white;
  font-size: 1.2em;

  margin-bottom: 1.5rem;
}
.login-form > input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.login-form > input:focus {
  background-color: rgba(112, 112, 112, 0.9);
  outline: white;
}

.login-form > input:last-of-type {
  margin-bottom: 1rem;
}

a,
a:active,
a:visited {
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-size: 1.2rem;
}

.button {
  background-color: rgba(0, 112, 50, 0.95);
  padding: 0 0;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 120px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #000000;
  position: relative;
  padding-right: 120px;
  position: relative;
  margin: 20px auto;

  &:before {
    content: "Business";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 5px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}
</style>