<template>
  <div class="UserForm">
    <base-card class="overlay">
    <p class="no-content">Under development</p>
    </base-card>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "UserForm",
  components: {},
  data() {
    return {
      userName: "",
    };
  },
  mounted() {},
  methods: {},
  computed: {
    ...mapState(["loca"]),
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  width: 25rem;
  padding: 2rem;
  box-sizing: border-box;

    .no-content {
    color: white
  }
}
</style>