
<template>
  <div id="map">
    <div
      id="mapContainer"
      style="height: 300px; width: 100%"
      ref="hereMap"
    ></div>
  </div>
</template>

<script>
export default {
  name: "HereMap",
  props: {
    center: Object,
  },
  data() {
    return {
      platform: null,
      apikey: "-0BWbKT2oF2VNbfhHkS0nAjMe1rG2QWmDk6ekvb04pA",
      H: {},
      map: {},
      behaviour: {},
      myLocation: {},
      nearLocations: [],
      ui: {},
    };
  },
  async mounted() {
    this.myLocation = this.center;
    const platform = new window.H.service.Platform({
      apikey: this.apikey,
    });
    this.platform = platform;
    this.initializeHereMap();
  },
  methods: {
    initializeHereMap() {
      const mapContainer = this.$refs.hereMap;
      this.H = window.H;
      let H = this.H;
      var maptypes = this.platform.createDefaultLayers();
      let map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 14,
        center: this.myLocation,
      });

      this.map = map;
      addEventListener("resize", () => map.getViewPort().resize());
      this.behaviour = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
      this.ui = H.ui.UI.createDefault(map, maptypes);
      this.addMyMarkerToMap();
      this.setUpClickListener();
    },
    addMyMarkerToMap() {
      let map = this.map;
      let H = this.H;
      map.removeObjects(map.getObjects());

      var marker = new H.map.Marker(this.myLocation);
      map.addObject(marker);
    },
    setUpClickListener() {
      let map = this.map;
      map.addEventListener("tap", (evt) => {
        var coord = map.screenToGeo(
          evt.currentPointer.viewportX,
          evt.currentPointer.viewportY
        );
        this.myLocation = coord;
      });
    },
  },
  watch: {
    myLocation() {
      this.addMyMarkerToMap();
      this.$emit('locationChanged', this.myLocation)
    },
  },
};
</script>

<style scoped>
#map {
  width: 60vw;
  min-width: 360px;
  text-align: center;
  margin: 5% auto 10px;
  background-color: #ccc;
}
</style>