<template>
  <div class="Header">
    <div class="menu-icon" @click="menuIsOpen = !menuIsOpen">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="expanded-panel" :class="{ active: menuIsOpen }">
      <h4>Hi, {{ userDetails.name }}</h4>
      <router-link to="/">Home</router-link>

      <router-link v-if="userDetails.userType == 'CLIENT'" to="/user-form"
        >Select your interests</router-link
      >
      <router-link v-if="userDetails.userType == 'BUSINESS'" to="/company-form"
        >Select your provided services</router-link
      >
      <base-button class="log-out" @click="logout">{{
        loca.logOut
      }}</base-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      menuIsOpen: false,
    };
  },
  methods: {
    ...mapActions(["updateAuthed", "updateUserDetails"]),

    logout() {
      localStorage.setItem("authed", false);
      localStorage.removeItem("userDetails");
      this.updateAuthed(false);
      this.updateUserDetails({});
      this.$router.push("/login");
    },
  },
  computed: {
    ...mapState(["userDetails", "loca"]),
  },
};
</script>
<style lang="scss" scoped>
.Header {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #808080;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

height: 30px;
  }

  a:hover {
    text-decoration: none;
  }
  .router-link-exact-active {
    // background: #99ceff;
    // border-radius: 5px;
    color: #99ceff !important;
  }

  .menu-icon {
    cursor: pointer;
  }

  .menu-icon > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .expanded-panel {
    position: absolute;
    top: 0;
    right: 40px;
    transform: scale(0, 0);
    transition: 0.1s ease all;
    width: 300px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    transform-origin: top right;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;

    &.active {
      transform: scale(1, 1);
    }

    .close-icon {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 32px;
      font-weight: 600;
    }

    .log-out {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      background: rgb(202, 58, 58);
    }
  }
}
</style>