
<template>
  <div id="map">
    <div
      id="mapContainer"
      style="height: 600px; width: 100%"
      ref="hereMap"
    ></div>
  </div>
</template>

<script>
import apiService from "@/APIServices/APIService";

export default {
  name: "HereMap",
  props: {
    center: Object,
  },
  data() {
    return {
      platform: null,
      apikey: "-0BWbKT2oF2VNbfhHkS0nAjMe1rG2QWmDk6ekvb04pA",
      H: {},
      map: {},
      behaviour: {},
      myLocation: {},
      nearLocations: [],
      ui: {},
    };
  },
  async mounted() {
    this.myLocation = this.center;
    const platform = new window.H.service.Platform({
      apikey: this.apikey,
    });
    this.platform = platform;
    this.initializeHereMap();
  },
  methods: {
    initializeHereMap() {
      const mapContainer = this.$refs.hereMap;
      this.H = window.H;
      let H = this.H;
      var maptypes = this.platform.createDefaultLayers();
      let map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 14,
        center: this.myLocation,
      });

      this.map = map;
      addEventListener("resize", () => map.getViewPort().resize());
      this.behaviour = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
      this.ui = H.ui.UI.createDefault(map, maptypes);
      this.addMyMarkerToMap();
      this.setUpClickListener();
    },
    addMarkersToMap() {
      let map = this.map;
      let H = this.H;
      this.addMyMarkerToMap();

      this.nearLocations.forEach((coordinate) => {
        var marker = new H.map.Marker(coordinate.coords);
        map.addObject(marker);

        var group = new H.map.Group();
        let ui = this.ui;

        map.addObject(group);

        group.addEventListener(
          "tap",
          function (evt) {
            var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
              content: evt.target.getData(),
            });
            ui.addBubble(bubble);
          },
          false
        );

        this.addMarkerToGroup(
          group,
          coordinate.coords,
          `<div style="width: 200px">
            <p>${coordinate.title}</p>
            <p>${coordinate.description}</p>
            <a href="/qr-code?qr-value=${coordinate.id}" style="color: black">QR əldə et</a>
          </div>`
        );
      });
    },
    addMyMarkerToMap() {
      let map = this.map;
      let H = this.H;
      map.removeObjects(map.getObjects());

      var svgMarkup =
        '<svg id="Layer_1" data-name="Layer 1"  width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.53 122.88"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>check-location</title><path class="cls-1" d="M46.27,18.21A28.62,28.62,0,1,1,17.64,46.83,28.62,28.62,0,0,1,46.27,18.21Zm1.36,97.49A82.87,82.87,0,0,0,64,101.81,85.44,85.44,0,0,0,84.56,62.23c2.81-13.67,1.5-27-4.75-37.34a36.74,36.74,0,0,0-6.63-8.06C65.62,9.93,57,6.64,48.23,6.56,39.07,6.49,29.77,10,21.55,16.5a38.54,38.54,0,0,0-8.63,9.56C7.15,35.15,5.41,46.43,7.31,58.24c1.94,12,7.66,24.61,16.77,36A102.46,102.46,0,0,0,47.63,115.7Zm21.24-9.46a89.32,89.32,0,0,1-19.33,16,3.28,3.28,0,0,1-3.71.13,109.25,109.25,0,0,1-26.9-24c-9.8-12.31-16-26-18.1-39.1C-1.33,45.89.7,33,7.36,22.53a45.3,45.3,0,0,1,10.1-11.18C26.85,3.87,37.6-.09,48.29,0,58.6.09,68.79,3.92,77.6,12a43.1,43.1,0,0,1,7.82,9.52c7.15,11.8,8.71,26.83,5.57,42.05a92.2,92.2,0,0,1-22.12,42.7ZM37.35,41.91l5,4.74,12-12.21c1.07-1.09,1.74-2,3.07-.61l4.28,4.39c1.4,1.39,1.33,2.2,0,3.5l-17,16.66c-2.79,2.74-2.31,2.92-5.14.1L30.13,49a1.25,1.25,0,0,1,.12-1.93l5-5.15c.75-.78,1.35-.73,2.13,0Z"/></svg>';

      var icon = new H.map.Icon(svgMarkup),
        coords = this.myLocation,
        myLocationMarker = new H.map.Marker(coords, { icon: icon });

      map.addObject(myLocationMarker);
    },
    setUpClickListener() {
      let map = this.map;
      map.addEventListener("tap", (evt) => {
        var coord = map.screenToGeo(
          evt.currentPointer.viewportX,
          evt.currentPointer.viewportY
        );
        this.myLocation = coord;
        this.addMarkersToMap();
      });
    },
    addMarkerToGroup(group, coordinate, html) {
      let H = this.H;
      var marker = new H.map.Marker(coordinate);
      marker.setData(html);
      group.addObject(marker);
    },
    getLocations() {
      apiService
        .getLocations(this.myLocation)
        .then((response) => {
          if (response.data.successful == true) {
            this.nearLocations = response.data.payload;
            this.addMarkersToMap();
          }
        })
        .catch(() => {})
        .finally(() => {
          this.loading = false;
        });
    },
  },
  watch: {
    myLocation() {
      this.getLocations();
    },
  },
};
</script>

<style scoped>
#map {
  width: 60vw;
  min-width: 360px;
  text-align: center;
  margin: 5% auto;
  background-color: #ccc;
}
</style>