<template>
  <div class="LanguageSwitch">
    <img
      src="@/assets/flags/az.png"
      alt="az"
      @click="changeLang(0)"
      v-if="loca.language == 'az'"
    />
    <img
      src="@/assets/flags/en.png"
      alt="en"
      @click="changeLang(1)"
      v-if="loca.language == 'en'"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      menuIsOpen: false,
      languages: ["en", "az"],
      selected: 0,
    };
  },
  created() {
    this.setLanguage();
  },
  methods: {
    ...mapActions(["updateLoca"]),
    changeLang(index) {
      this.selected = index;
      localStorage.setItem("language", this.languages[index]);
      this.updateLoca(this.languages[index]);
    },
    setLanguage() {
      let language = localStorage.getItem("language");
      if (!this.languages.includes(language)) {
        language = null;
      }
      language = language ? language : "en";
      const index = this.languages.findIndex((lang) => lang === language);
      this.selected = index;

      this.updateLoca(language);
    },
  },
  computed: {
    ...mapState(["loca"]),
  },
};
</script>
<style lang="scss" scoped>
.LanguageSwitch {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
</style>