<template>
  <div id="app">
    <LanguageSwitch />
    <MessageModal />

    <router-view />
    <!-- <div id="nav">
      <router-link to="/">Home</router-link>
    </div> -->
  </div>
</template>

<script>
import LanguageSwitch from "@/components/LanguageSwitch";
export default {
  name: "app",
  components: {
    LanguageSwitch,
  },
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7f8386;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7f8386;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7f8386;
  }
}

body {
  background: url(https://images.unsplash.com/photo-1589405858862-2ac9cbb41321)
    no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  margin: 0 0;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
