$base-color: #F7F7F7;
$base-purple-color: #6F0BBB;
$base-yellow-color: #FFD217;
$base-black-color: #232323;
$base-gray-color: #e7e7e7;
:root {
    --footer-height: 47px;
    --footer-mobile-height: 57px;
    --middle-container-width: 900px;
  }